.container .card .center {
    width:  415px;
    height:  265px;
    width: 97%;
    height: 95%;
    border-radius: 0px;
    background: transparent;
    box-shadow: inset 20px 20px 60px #d9d9d9, inset -20px -20px 60px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .card .center h1 {
    font-size: 6rem;
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -3px;
    color: transparent;
    color: rgba(35, 35, 35, 0.8);
    mix-blend-mode: hard-light;
}

@-webkit-keyframes bk {
    0% {
        background-position: 18% 0%;
    }
    50% {
        background-position: 83% 100%;
    }
    100% {
        background-position: 18% 0%;
    }
}

@-moz-keyframes bk {
    0% {
        background-position: 18% 0%;
    }
    50% {
        background-position: 83% 100%;
    }
    100% {
        background-position: 18% 0%;
    }
}

@keyframes bk {
    0% {
        background-position: 18% 0%;
    }
    50% {
        background-position: 83% 100%;
    }
    
}