.container {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    width: 100vw;
    height: 100vh;
    background: #f3f3f3;
    position: relative;
}
.container .card-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container .card {
    border-radius: 0px;
    border-radius: 0px;
    background: #ffffff;
    box-shadow: inset 20px 20px 60px #d9d9d9, inset -20px -20px 60px #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.container .card:before{
    content: "";
    width: 450px;
    height: 300px;
    width: 90vw;
    height: 90vh;
    left: 2px;
    z-index: -1;
    position: absolute;
    box-shadow: 1px 1px 0px #f3f3f3, 2px 2px 0px #f3f3f3, 3px 3px 0px #f3f3f3,4px 4px 0px #f3f3f3,
    5px 5px 0px #f3f3f3,
    6px 6px 0px #f3f3f3,;
}
.container .card .inner {
    width: 430px;
    height: 280px;
    width: 88vw;
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(146deg, #ece9e6, #ffffff, #ffedbc, #78fcfa, pink, gold);
    background-size: 600% 600%;
    -webkit-animation: bk 15s ease infinite;
    -moz-animation: bk 15s ease infinite;
    animation: bk 20s ease infinite;
}