body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #383838;
}

p{
    text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
}

.contenedor{
    color: #ebebeb;
    font-size: 2.56rem;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animacion{
    height: 50px;
    overflow: hidden;
    margin-left: 1rem;
}

.animacion > div > div{
    padding: 0.25rem 0.75rem;
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.animacion > div:first-child{
    animation: animacion-texto 8s infinite;
}

.primero div{
    background-color: #20a7d8;
}

.segundo div{
    background-color: #cd921e;
}

.tercero div{
    background-color: #c10528;
}

@keyframes animacion-texto{
    0%{margin-top: 0;}
    10%{margin-top: 0;}
    20%{margin-top: -6.3rem;}
    30%{margin-top: -6.3rem;}
    40%{margin-top: -12.5rem;}
    60%{margin-top: -12.5rem;}
    70%{margin-top: -6.3rem;}
    80%{margin-top: -6.3rem;}
    90%{margin-top: 0;}
    100%{margin-top: 0;}
}