.instagram-button {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #000000;
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .instagram-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .instagram-button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7);
  }