.slider {
	width: 90%;
	height: 50vh;
	overflow: hidden;
	position: relative;
	
	justify-items: center;
	border-radius:  25px;
	background-position: left top;
  	background-repeat: cover;
	border: 4px;
	border-style: solid;
	border-color: #57837B;
	margin-left: 7%;
	/* padding-top: 20px; */
	padding-bottom: 40px;
	margin-bottom: 10px;
}

.slider__title {
	color: #CEDCD9;
	position: absolute;
	width: 100%;
	font-size: 250%;
	text-align: center;
	top: 1rem;
	color: #56a561;
	text-transform: uppercase;
	padding: 0 4rem;
	z-index: 100;
	text-shadow: 0 0 0.5rem #CEDCD9;
}

.slider__content,
.slider__content--item {
	color: #CEDCD9;
	width: 100%;
	height: 50vh;
	position: relative;
	padding-bottom: px;
}
.slider__content{
	padding-bottom: 0px;
}
.slider__content--item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: flex;
	
}

.slider-description {
	/* position: absolute;
	/* bottom: 2rem; */
	/* height: 20%;
	width: 50%;
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
	position: absolute;
	border: 2px;
	border-style: solid;
	border-color: #57837B; */
	/* padding: 0.5rem 2rem; */
	/* background-color: #57837B; */
	/* backdrop-filter: blur(10px);
	margin: 0% 25%;
	z-index: 100;
	box-shadow:5px 10px 18px rgb(0, 0, 0);; */
	color: #CEDCD9;
	position: absolute;
	width: 100%;
	margin-top: 20%;
	font-size: 2.5rem;
	text-align: center;
	top: 4rem;
	color: #fff;
	text-transform: uppercase;
	padding: 0% 0%;
	z-index: 100;
	text-shadow: 0 0 0.5rem #CEDCD9;
	border: 2px;
	border-style: solid;
	border-color: #57837B;
	backdrop-filter: blur(10px);
}
/* button{

	background-color: antiquewhite;



} */
.carousel-prev, .carousel-next{
	background-color: rgb(205, 205, 215);
	margin-top: 13%;
	height: 8%;
	
}